# EditorConfig
# http://editorconfig.org

root = true

[**.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[**.{json,xml,svg}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
