[submodule "tests"]
	path = tests/integration
	url = https://github.com/AlexAltea/ps3autotests.git
[submodule "llvm"]
	path = externals/llvm
	url = http://llvm.org/git/llvm.git
	branch = release_35
	ignore = dirty
